A.link {
	COLOR: blue; TEXT-DECORATION: underline
}
A.visited {
	COLOR: purple; TEXT-DECORATION: underline
}
A.active {
	COLOR: red; TEXT-DECORATION: underline
}
H1.FM1Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 6pt 36pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.FM1Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 6pt 36pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.FM1Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 6pt 36pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.FM1Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 6pt 36pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.FM1Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 6pt 36pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.FM1Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 6pt 36pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FM1HeadingTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 21.599pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.FM1Step {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.FM1StepLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 43.199pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.FM1StepLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 72pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.FM2Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 11pt; FONT-STYLE: italic; MARGIN: 11pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.FM2Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 11pt; FONT-STYLE: italic; MARGIN: 11pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.FM2Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 11pt; FONT-STYLE: italic; MARGIN: 11pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.FM2Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 11pt; FONT-STYLE: italic; MARGIN: 11pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.FM2Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 11pt; FONT-STYLE: italic; MARGIN: 11pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.FM2Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 11pt; FONT-STYLE: italic; MARGIN: 11pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FM2HeadingTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-STYLE: italic; MARGIN: 0pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.FM3Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.FM3Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.FM3Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.FM3Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.FM3Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.FM3Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 5pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FM3HeadingTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 64.799pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FM4Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 1pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -43.199pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.FM5Heading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 10pt 0pt 1pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -43.199pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Abstract {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 57.599pt 9pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.Auspices {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.Auspices {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.Auspices {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.Auspices {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.Auspices {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.Auspices {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.AuspicesText {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Author {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 0pt 36pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.AuthorBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 13pt; FONT-WEIGHT: bold; MARGIN: 0pt 0pt 26pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Body {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt 5pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.BodyAfterHead {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 6pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Bullet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Bullet2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.BulletContinuation {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Bulleted {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.BulletedCont {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 18pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.BulletLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 43.199pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.BulletLev2Continuation {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.BulletLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 72pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.BulletLevel3Continuation {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 57.599pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.C-Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBlockIndent {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 36pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBlockIndent2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBlockIndent3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 36pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBlockIndentCode {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 36pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBullet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBullet2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 43.199pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CBullet3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 72pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CellBody {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CellBodyC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CellHeading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Center {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.Chapter {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.Chapter {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.Chapter {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.Chapter {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.Chapter {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.Chapter {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.ChapterDescription {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 46.799pt 36pt 36pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.ChapterSet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.ChapterSet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.ChapterSet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.ChapterSet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.ChapterSet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.ChapterSet {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.ChapterSetTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.ChapterSetTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.ChapterSetTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.ChapterSetTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.ChapterSetTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.ChapterSetTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.ChapterTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 14pt 0pt 7pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.Code {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.CodeBulletLevel2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -21.6pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.CodeBulletLevel2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -21.6pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.CodeBulletLevel2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -21.6pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.CodeBulletLevel2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -21.6pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.CodeBulletLevel2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -21.6pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.CodeBulletLevel2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -21.6pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.CodeBulletLevel3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -10.8pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.CodeBulletLevel3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -10.8pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.CodeBulletLevel3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -10.8pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.CodeBulletLevel3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -10.8pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.CodeBulletLevel3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -10.8pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.CodeBulletLevel3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -10.8pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.CodeDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.CodeDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.CodeDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.CodeDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.CodeDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.CodeDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
THROW-AWAY.Copyright {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.CStep {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Definition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 12pt 0pt 6pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Equation {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt 6pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.ETable {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 4pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Example {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
BLOCKQUOTE.Extract {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 57.599pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.Figure {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.Figure {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.Figure {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.Figure {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.Figure {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.Figure {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FirstBody {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FlushL {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.FlushR {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt; TEXT-ALIGN: right; TEXT-DECORATION: none; TEXT-INDENT: 36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Footnote {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt 18pt 0pt 22.463pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -13.463pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.GroupTitlesIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 14pt 0pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.GroupTitlesIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 14pt 0pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.GroupTitlesIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 14pt 0pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.GroupTitlesIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 14pt 0pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.GroupTitlesIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 14pt 0pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.GroupTitlesIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 14pt 0pt 0pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.HangIndent {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 36pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.HangIndentCont {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 36pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.HangIndentLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.HangIndentLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.HangIndentLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.HangIndentLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.HangIndentLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.HangIndentLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.HangIndentLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 90pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.HangIndentLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 90pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.HangIndentLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 90pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.HangIndentLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 90pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.HangIndentLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 90pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.HangIndentLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 90pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.HeadingRunIn {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.HeadingRunIn {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.HeadingRunIn {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.HeadingRunIn {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.HeadingRunIn {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.HeadingRunIn {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 12pt 0pt 6pt 135pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.IndexIX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.IndexTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 14pt 0pt 7pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.IndexTitleTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 17pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.IndexTitleTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 17pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.IndexTitleTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 17pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.IndexTitleTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 17pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.IndexTitleTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 17pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.IndexTitleTOC {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 17pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.KeepTogetherList {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Level1IX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 21.599pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Level2IX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 54pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Level3IX {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 72pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -36pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.List {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 18pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Mapping-Table-Cell {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 2pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Mapping-Table-Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; MARGIN: 2pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.MoreTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.MoreTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.MoreTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.MoreTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.MoreTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.MoreTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Note {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: -48pt 0pt 0pt 46.799pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.NoteBottom {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.NoteBottom {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.NoteBottom {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.NoteBottom {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.NoteBottom {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.NoteBottom {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.NoteEnum {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: -48pt 61.199pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.NoteTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.NoteTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.NoteTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.NoteTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.NoteTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.NoteTip {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 10pt 0pt -48pt 50.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -50.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Numbered {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 18pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Numbered1 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 18pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -18pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.NumberedCont {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 148.744pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Part {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 30pt; FONT-WEIGHT: bold; MARGIN: 0pt 0pt 33pt 72pt; TEXT-ALIGN: right; TEXT-DECORATION: none; TEXT-INDENT: -72pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.PartName {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 48pt; MARGIN: 0pt 0pt 53pt 72pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: -72pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.PublisherBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Python {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 18pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.PythonDefinition {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 13pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.PythonNote {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 61.199pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.ReportAuthor {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 10pt 90pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.ReportPurpose {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; FONT-STYLE: italic; FONT-WEIGHT: bold; MARGIN: 15pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.ReportTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 14pt; FONT-WEIGHT: bold; MARGIN: 0pt 108pt 0pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.Special {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 24pt; FONT-WEIGHT: bold; MARGIN: 62pt 0pt 12pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Step {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 5pt 0pt 0pt 14.399pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.399pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.StepLev2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 43.199pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.StepLev3 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; MARGIN: 6pt 0pt 0pt 72pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: -14.4pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.SubHeading {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 9pt 0pt 6pt 45pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -45pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
LI.Table {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 8pt 0pt 4pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.TableFootnote {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 9pt; MARGIN: 3pt 18pt 0pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: -12pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.TableTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.TableTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.TableTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.TableTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.TableTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.TableTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN: 0pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 0pt 72pt 18pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 0pt 72pt 18pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 0pt 72pt 18pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 0pt 72pt 18pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 0pt 72pt 18pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.Title {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 0pt 72pt 18pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.TitleBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.TitleBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.TitleBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.TitleBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.TitleBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.TitleBook {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 30pt; FONT-STYLE: italic; MARGIN: 72pt 0pt 60pt; TEXT-ALIGN: left; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H1.TocTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN: 44pt 0pt 9pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H2.TocTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN: 44pt 0pt 9pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H3.TocTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN: 44pt 0pt 9pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H4.TocTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN: 44pt 0pt 9pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H5.TocTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN: 44pt 0pt 9pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
H6.TocTitle {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Arial"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; MARGIN: 44pt 0pt 9pt; TEXT-ALIGN: center; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
P.URL {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; MARGIN: 12pt 0pt 6pt; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0pt; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
THROW-AWAY.BulletSymbol {
	COLOR: #000000; FONT-FAMILY: "Courier"; FONT-SIZE: 11pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; VERTICAL-ALIGN: baseline
}
EM.Callout {
	COLOR: #000000; FONT-FAMILY: "Arial"; FONT-SIZE: 8pt; TEXT-DECORATION: none; VERTICAL-ALIGN: baseline
}
EM.Code {
	COLOR: #000000; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
EM.CodeInput {
	COLOR: #000000; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
EM.Emphasis {
	FONT-STYLE: italic
}
THROW-AWAY.EquationNumber {
	COLOR: #000000; FONT-FAMILY: "Arial"; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; VERTICAL-ALIGN: baseline
}
EM.EquationVariables {
	FONT-STYLE: italic
}
PLAIN-TEXT.FirstLetterTitle {
	COLOR: #000000; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 42pt; FONT-STYLE: italic; TEXT-DECORATION: none; VERTICAL-ALIGN: baseline
}
EM.HTML-Typewriter {
	COLOR: #000000; FONT-FAMILY: "Courier New"; FONT-SIZE: 10pt; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
EM.InitialCaps {
	COLOR: #000000; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
EM.Journal {
	COLOR: #000000; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-STYLE: italic; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
THROW-AWAY.PageNumber {
	FONT-WEIGHT: bold
}
THROW-AWAY.StepNumber {
	COLOR: #000000; FONT-FAMILY: "Arial"; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; VERTICAL-ALIGN: baseline
}
EM.Strong {
	COLOR: #000000; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
EM.URL {
	COLOR: #000000; FONT-FAMILY: "Times New Roman"; FONT-SIZE: 10pt; FONT-STYLE: italic; TEXT-DECORATION: none; TEXT-TRANSFORM: none; VERTICAL-ALIGN: baseline
}
